article#signedin(ng-controller="AuthController")
  h2 Congratulations!
  p You are signed in
  p
    button.btn.btn-default(type="button",ng-click="signout()") Click here to sign out
  P
    a(ui-sref='logapi') Click here to get the JSON feed