h2 Authenticate
form#signin-form.panel.panel-default(role="form")
  p.panel-heading Enter your authentication details
  .panel-body
    .input-group
      label(for="username") Username:
      input#username.form-control(type="text",placeholder="Enter your username")
    .input-group
      label(for="password") Password:
      input#password.form-control(type="password",placeholder="Enter your password")
    .input-group
      button#submit.btn.btn-default(type="button") Authenticate
