doctype html
html(ng-app="SkyTestApp")
  head
    title Technical test for Sky
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    script(src="lib/jquery/dist/jquery.js")
    script(src="lib/async/lib/async.js")
    script(src="lib/lodash/dist/lodash.js")
    script(src="lib/angular/angular.js")
    script(src="lib/angular-ui-utils/ui-utils.js")
    script(src="lib/angular-ui-router/release/angular-ui-router.js")
    script(src="lib/angular-bootstrap/ui-bootstrap-tpls.js")
    script(src="lib/ngstorage/ngStorage.js")
    script(src="application.js")
    script(src="controllers/auth-controller.js")
    script(src="controllers/logs-controller.js")
    link(href="lib/bootstrap/dist/css/bootstrap.css",rel="stylesheet")
    link(href="lib/bootstrap/dist/css/bootstrap-theme.css",rel="stylesheet")
  body
    article#main.container()
      header.jumbotron(ng-controller="AuthController")
        h1 Sky Technical test
        p Peter Hurst 28/11/2014
        p(ng-if="authenticated")
          span You are logged in as:
          span {{ session.username }}
        nav
          ul
            li(ng-if="!authenticated")
              a(ui-sref='signin') Sign in
            li(ng-if="authenticated")
              a(ng-click='signout()') Sign out
            li(ng-if="authenticated")
              a(ui-sref='logs') View logs
      div#content(ui-view)
      footer
    script(src="lib/bootstrap/dist/js/bootstrap.js")
