doctype html
html
  head
    title Technical test for Sky
    script(src="lib/jquery/dist/jquery.js")
    script(src="lib/async/lib/async.js")
    script(src="lib/lodash/dist/lodash.js")
    script(src="lib/angular/angular.js")
    script(src="lib/angular-ui-utils/ui-utils.js")
    script(src="lib/angular-ui-router/release/angular-ui-router.js")
    script(src="lib/angular-bootstrap/ui-bootstrap-tpls.js")
    link(href="lib/bootstrap/dist/css/bootstrap.css")
    link(href="lib/bootstrap/dist/css/bootstrap-theme.css")
  body
    article#main
      header
        h1 Sky Technical test
      div#content(ui-view)
      footer